<!-- NAVBAR -->
<div class="card bgc-blue-500 tc-white-1">
  <div class="toolbar" id="gn-menu">
    <div class="toolbar__left mr">

      <ul id="gn-menu">
        <li class="gn-trigger">
          <a class="btn btn--l btn--black btn--icon gn-icon-menu" lx-ripple>
            <i class="mdi mdi--menu tc-white-1"></i>
          </a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                <li class="item">
                  <i class="icon icon--l icon--flat mdi mdi--shopping-cart"></i>
                  <a href="/kasir/listpesanan">List Pesanan</a>
                </li>
              </ul>
            </div>
            <!-- /gn-scroller -->
          </nav>
        </li>

      </ul>
    </div>

    <span class="toolbar__label fs-title">Resto BRO!</span>

    <div class="toolbar__right">
      <lx-dropdown position="right" from-top>
        <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
          <i class="mdi mdi--more-vert tc-white-1"></i>
        </button>

        <lx-dropdown-menu>
          <ul>
            <li><a class="dropdown-link">Kasir</a>
            </li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-link" href="/">Logout</a>
            </li>
          </ul>
        </lx-dropdown-menu>
      </lx-dropdown>
    </div>
  </div>
</div>

<!-- CONTAINER -->
<div class="grid">
  <div class="grid__col12 indexmin">
    <div class="card">&nbsp;</div>
  </div>
  <div class="grid__col12">
    <div class="card card-pad">

      <!-- LIST PESANAN -->
      <div class="grid__col12 grid-margin">
        <div class="card">

          <div class="media">

            <div class="media__body">
              <div class="grid">
                <div class="grid__col3 list-pesanan bgc-blue-500">
                  &nbsp;
                </div>
                <div class="grid__col9 ">
                  <div class="card__actions">
                    <p class="list-content">Table 1</p>
                    <div class="list-button">
                      <a href="/kasir/detailpesanan" class="btn btn--m btn--orange btn--flat" lx-ripple>View</a>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>

      <div class="grid__col12 grid-margin">
        <div class="card">

          <div class="media">


            <div class="media__body">
              <div class="grid">
                <div class="grid__col3 list-pesanan bgc-blue-500">
                  &nbsp;
                </div>
                <div class="grid__col9 ">
                  <div class="card__actions">
                    <p class="list-content">Table 3</p>
                    <div class="list-button">
                      <a href="/kasir/detailpesanan" class="btn btn--m btn--orange btn--flat" lx-ripple>View</a>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      
      <div class="grid__col12 grid-margin">
        <div class="card">

          <div class="media">


            <div class="media__body">
              <div class="grid">
                <div class="grid__col3 list-pesanan bgc-blue-500">
                  &nbsp;
                </div>
                <div class="grid__col9 ">
                  <div class="card__actions">
                    <p class="list-content">Table 9</p>
                    <div class="list-button">
                      <a href="/kasir/detailpesanan" class="btn btn--m btn--orange btn--flat" lx-ripple>View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__col12 grid-margin">
        <div class="card">

          <div class="media">


            <div class="media__body">
              <div class="grid">
                <div class="grid__col3 list-pesanan bgc-green-600">
                  &nbsp;
                </div>
                <div class="grid__col9 ">
                  <div class="card__actions">
                    <p class="list-content">Table 1</p>
                    <div class="list-button">
                      <a href="/kasir/detailpesanan" class="btn btn--m btn--orange btn--flat" lx-ripple>View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- SIDEBAR -->
<script src="src/js/script.js"></script>
