<div class="grid login-form">
  <div class="grid__col3">&nbsp;</div>
  <div class="grid__col6">
    <div class="card">
      <div class="card__top bgc-amber-600 tc-white-1">

        <img src="http://placehold.it/150x150/ffffff/cccccc&text=Logo" class="logo" alt="">

      </div>
      <form action="/home">
        <div class="card__content">
          <lx-text-field label="Username">
            <input type="text" ng-model="textFields.lastName">
          </lx-text-field>
          <lx-text-field label="Password">
            <input type="password" ng-model="textFields.lastName">
          </lx-text-field>
        </div>

        <div class="card__actions" style="margin-bottom:40px">
          <div class="grid__col6">
            <input type="submit" class="btn btn--m btn--blue btn--raised btn-max" lx-ripple value="Sign In">
          </div>
          <div class="grid__col6">
            <input type="reset" class="btn btn--m btn--red btn--raised btn-max" lx-ripple value="Reset">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
